  
@import './styles/shared.scss';

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  @include sm {
    max-width: 576px;
  }
  @include md {
    max-width: 768px;
  }
  @include lg {
    max-width: 1024px;
  }
  @include xl {
    max-width: 1200px;
  }
 }

 .overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .75;
  z-index: 101;
  background: #0a0e12;
  &.show {
    display: block;
  }
 }

// form 

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 1rem;
  font-weight: 200;
}

button[type="submit"],
input[type="submit"] {
  background-image: linear-gradient(to bottom, #facd1a, #fa9e1a 100%);
  color: #000;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 1.175rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background-image: linear-gradient(to bottom, #facd1a, #fa9e1a 75%);
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.alert-message {
  color: #bf1650;
  &::before {
    display: inline;
    content: "⚠ ";
  }
}

 // Success || Error Messages

 .success {
  padding: 20px;
  &__title {
    margin: 1.5rem 0;
  }
  &__message {
    line-height: 1.5;
    text-align: center;
  }
}

.error {
  padding: 20px;
  &__title {
    margin: 1.5rem 0;
  }
  &__message {
    line-height: 1.5;
    text-align: center;
  }
}